<!DOCTYPE html>
<html>
<head>
  <title>BlocChat Rooms</title>          
</head>
<body>

<div layout="column">
    
  <div flex="100" style="background-color: #C0C0C0;" layout-padding>header column</div>
</div>
    
<div layout="row" >
  <div flex="20" style="background-color: #C0C0C0;" flex-gt-sm="33" layout-padding>
    
    <h2>Bloc Chat</h2>
    <div ng-repeat="room in home.rooms">
      <p>{{ room.$value }}</p>
    </div>
    <!--{{home.rooms}}-->
      
  </div>
   <div flex="80" style="background-color:#D3D3D3" flex-gt-sm="66" layout-padding>
     <md-button class="md-primary">Primary Button</md-button>
  </div>
</div><!-- End row-->    
    

</body>    
</html>    